.button {
  border: 2px solid #3f0377;
  padding: 6px 15px;
  color: #020246;
  border-radius: 8px;
  background: #FFFFFF;
  font-size: 20px;
  font-family: "Source Code Pro", sans-serif;
  height: 45px;
}
.button:hover {
  border: 2px solid #c51717;
}

.button:focus {
  transform: scale(1.2);
}

.button:active {
  background-color: beige;
}
