.card-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border: 2px solid #0606bd;
  margin-top: 20px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Source Code Pro", sans-serif;
  text-transform: uppercase;
  margin: 15px 0;
}

.description {
  font-size: 20px;
  font-weight: 400;
  font-family: "Source Code Pro", sans-serif;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
  font-family: "Source Code Pro", sans-serif;
}

.description-wrapper {
  width: 20%;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
