<div class="card-container">
  <div class="title-wrapper">
    <p class="title">{{(course | async)?.title}}</p>
    <p class="description">{{(course | async)?.description}}</p>
  </div>
  <div class="description-wrapper">
    <p class="description"><span class="subtitle">Authors: </span>{{(authorList$ | async) ?? [] | join}}</p>
    <p class="description"><span class="subtitle">Duration: </span>{{(course | async)?.duration?? 0 | durationToTime}}</p>
    <p class="description"><span class="subtitle">Created: </span>{{(course | async)?.creationDate ?? '' | createdCourseTime}}</p>
    <div class="button-wrapper">
      <app-button (click)="backToCourse()" [text]="'Back to courses'"></app-button>
    </div>
  </div>
</div>
