.title {
  color: red;
  font-size: 20px;
}

.name {
  font-size: 20px;
  color: #020246;
  line-height: 18px;
  text-transform: capitalize;
  margin-right: 15px;
  font-family: "Source Code Pro", sans-serif;
}
